@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #C7C2B1;
    --secondary-color: #040F0F;
    --accent1-color: #66717e;
    --accent2-color: #dd7373;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #c7c2b1;
    --nav-link-color: #040f0f;
    --nav-hover-link-color: #66717e;
    --nav-hover-background-color: #66717e;

    max-width: 1500px;
    margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 20px;
    max-width: 800px;
}

nav {
    font-size: 1.2rem;
    display: flex;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

img {
    display: block;
    padding: 5px;
    border: 1px;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    background-color: rgba(17, 18, 19, 0.8);
    width: 1484px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    bottom: 225px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.hero article {
    position: absolute;
    background-color: rgba(102, 113, 126, .7);
    bottom: 50px;
    left: 350px;
}

.hero article img {
    position: relative;
    float: right;
    width: 25%;
    height: auto;
    margin: 15px;
    border: 1px;
    padding: 2px;
}

.sociallinks img{
    text-decoration-line: none;
    width: 12%;
    height: auto;
    display: flex;
}