@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #C7C2B1;
    --secondary-color: #040F0F;
    --accent1-color: #66717e;
    --accent2-color: #dd7373;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #c7c2b1;
    --nav-link-color: #040f0f;
    --nav-hover-link-color: #66717e;
    --nav-hover-background-color: #66717e;

    max-width: 200px; /*Check 3.7*/
}



h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

.sociallinks {
    text-decoration-line: none; /*Check 3.6*/
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {         /*Check 4.all*/
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article {
    position: absolute;
}

.hero article img {
    float: right;
}