@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #696451;
    --secondary-color: #040F0F;
    --accent1-color: #66717e;
    --accent2-color: #dd7373;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #c7c2b1;
    --nav-link-color: #040f0f;
    --nav-hover-link-color: #66717e;
    --nav-hover-background-color: #66717e;

    max-width: 1500px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    padding: 20px;
    max-width: 800px;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--accent1-color);
    margin-bottom: 10px;
    padding-bottom: 2px;
}

nav {
    font-size: 1.6rem;
    display: flex;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}

section {
    display: grid;
}

.history {
    justify-content: center;
}

.adventure {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto;
    align-items: center;
}

figcaption {
    text-align: center;
}
figure {
    background-color: #c7c2b1;
    
}

.one {
    grid-column: 3/4;
}
.two {
    grid-row: 2/3;
    grid-column: 1/2;
}
.three {
    grid-row: 2/3;
    grid-column: 2/3;
}
.four {
    grid-row: 2/3;
    grid-column: 3/4;
}
.five {
    grid-row: 2/3;
    grid-column: 4/5;
}
.six {
    grid-row: 2/3;
    grid-column: 5/6;
}


img {
    display: block;
    padding: 5px;
    border: 1px;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

.hero {
    position: relative;
    width: 1547px;
}

.hero h1 {
    position: absolute;
    background-color: rgba(208, 210, 212, 0.637);
    width: 1547px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    bottom: 225px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.hero article {
    position: absolute;
    background-color: rgba(178, 191, 207, 0.7);
    bottom: 50px;
    left: 350px;
}

.hero article img {
    position: relative;
    float: right;
    width: 25%;
    height: auto;
    margin: 15px;
    border: 1px;
    padding: 2px;
}

.sociallinks{
    text-decoration: none;
    width: 12%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    float: right;
}