@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: PT, sans-serif;
    color: black;
    background: white;
    font-size: 1.1em;
    margin: 5px;
}

header {
    margin: 0 auto;
    width: 700px;
}

h1 {
    margin: 10px;
    font-size: 1.7em;
    color: slategray;
    text-align: center;
}

form {
    background-color: rgba(64, 75, 78, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 700px;
    border-radius: 5px;
    margin: 5px auto;
    padding: 10px;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 5px;
    margin: .5rem;
    border: 1px;
    padding: 5px;
}

legend {
    color: maroon;
    font-size: 1.2em;
    font-weight: bold;
}

label {
    text-align: left;
    padding-right: .5em;
}

input, select, textarea {
    padding: .5em;
    font-size: 1.2em;
    max-width: 650px;
}

button {
    background-color: salmon;
    color: black;
    margin: 0;
    padding: .5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 1.2em;
}

button:hover {
    background-color: pink;
}

footer {
    margin-top: 5px;
    border: 0px;
    padding: 5px;
    text-align: center;
    font-size: .8rem;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-rows: 1fr 1fr;
}
/*
.column2 {

}

.column3 {

}
*/
.scale {
    text-align: left;
    background-color: darkslategray;
    margin: .7em;
    margin-bottom: 1.2em;
    padding: 15px;
    font-size: .9em;
    color: lightgray;
}