* {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    background-color: steelblue;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: block;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

h1 {
    color: steelblue;
    border-bottom: 3px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

li a {
    color: rgb(135, 178, 216);
}

aside h2 {
    position: absolute;
    top: 77px;
    left: 120px;
}

aside img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */

.box {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    color: white;
    background-color: #0e0e0e;
    max-width: fit-content;
}

.grid {
    display: grid;
    align-items: center;
}